/* Include */
@font-face {
    font-family: "monument_extendedregular";
    src: url("https://www.yudiz.com/codepen/photography-banner/monumentextended-regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Extenda Trial 20 Micro";
    src: url("https://www.yudiz.com/codepen/photography-banner/Extenda-20Micro.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Extenda Trial 30 Deca";
    src: url("https://www.yudiz.com/codepen/photography-banner/Extenda-30Deca.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Common CSS */
/* body,
html {
    overflow-x: hidden !important;
    overflow-y: hidden !important; 
} */

body {
    margin: 0;
    background-color: #212121;
    background-image: url("https://www.yudiz.com/codepen/photography-banner/frame.png");
    z-index: 0;
}

/* HIDE SCROLLBAR */
/* For Webkit browsers (Chrome, Safari, Edge) */
body::-webkit-scrollbar {
    display: none;
}

/* For Firefox */
html {
    scrollbar-width: none;
    overflow:  hidden !important;
    /* Firefox */
}

::selection {
    background-color: rgba(241, 231, 40, 0.2);
    color: #ffffff;
}

/* nav bar */
.nav-list:hover .nav-arrow {
    transform: rotate(-135deg);
}

.nav-list {
    position: relative !important;
    list-style-type: none;
}

/* Show dropdown on hover */
.nav-list:hover .nav-dropdown {
    display: block !important;
}

.nav-arrow {
    display: inline-block;
    position: absolute;
    top: 100%;
    right: -23%;
    width: 6px;
    height: 6px;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    transform: rotate(45deg);
    margin-top: -15px;
    transition: transform 0.3s ease;
}


.nav-dropdown {
    display: none !important;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.292);
    /* border: 1px solid #ddd; */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 170px;
    z-index: 0;
}

.nav-dropdown li {
    padding: 12px 20px !important;
    font-size: 14px !important;
    /* border-bottom: 1px solid #eee; */

}

.nav-dropdown li:hover {
    background-color: #fffb00dd;
    border-radius: 10px;
}

.nav-dropdown li:hover a {
    color: white !important;
}

.nav-dropdown li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
}

header{
    position: relative;
    z-index: 10;
}

.header-menu {
    position: relative;
    cursor: pointer;
    padding-top: 10px;
}

.header-menu ul {
    list-style: none;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    padding: 0;
    /* margin: 0; */

}

.header-menu ul li {
    position: relative;
    font-size: clamp(0.8rem, 2vw, 1.1rem);
    color: #990066;
    /* font-size: clamp(0.8rem, 2vw, 1.1rem); */

}

.header-menu ul li a {
    color: #990066;

}

.header-menud a {
    text-decoration: none;
    color: #990066;
    padding: 10px 15px;
    display: block;
}

.info-section {
    height: 90vh;
    /* min-height: 780px; */
    padding: 0 0 0 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
    user-select: none;
    width: 1400px;
    margin: auto;
    /* margin-top: -100px; */
}

/* .info-section::before {
    content: "";
    border-radius: 197.5px 0px;
    opacity: 0.4;
    background: var(--yellow, #f1e728);
    filter: blur(162px);
    height: 35%;
    width: 55%;
    position: absolute;
    top: -40%;
    left: -66%;
    transform: translate(50%, 50%);
    z-index: -1;
} */

/* left part */
.left-part {
    padding: 20px 0 0;
    overflow: hidden;
}

.left-part h1 {
    margin: 0;
    color: #fff;
    font-family: "Extenda Trial 30 Deca";
    font-size: clamp(100px, 12.5vw, 282px);
    line-height: 0.75;
    font-weight: normal;
    letter-spacing: 0.3rem;
    font-style: normal;
    text-transform: uppercase;
}
.left-part-btn{
    z-index: 1000 ;
    padding-bottom: 20px;
}

.heading {
    margin: 0;
    color: #f1e728;
    font-family: "Extenda Trial 30 Deca";
    font-size: 3rem;
    line-height: 1.50;
    font-weight: normal;
    letter-spacing: 0.2rem;
    font-style: normal;
    text-transform: uppercase;
}

.left-part h1 .text {
    color: #f1e728;
    display: block;
    height: 150px;
}

.left-part h1 .d-flex {
    display: flex;
    align-items: center;
}

.left-part h1 .char {
    transform: translateY(-515px);
    transition: transform 0.5s;
}

.typed-cursor {
    display: none !important;
}

.left-part p {
    width: 70%;
    margin: 20px 0 0;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 2;
    font-family: "monument_extendedregular";
    opacity: 0.8;
}

/* button */
.book-link {
    margin: 40px 0 0;
    padding: 0;
    border: 0;
    font-size: 56px;
    line-height: 1;
    color: #f1f1f1;
    letter-spacing: 0.25px;
    text-transform: uppercase;
    font-family: "Extenda Trial 20 Micro";
    font-weight: 300;
    font-style: normal;
    display: inline-flex;
    align-items: center;
    gap: 28px;
    position: relative;
    text-decoration: none;
}

.book-link .linktext {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.book-link .linktext::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 6px;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    transform: scaleX(1);
    transition: transform 250ms ease-in-out;
    transform-origin: 0 0;
}

.book-link:hover .linktext:before {
    transform: scaleX(0);
    transform-origin: 100% 100%;
}

.book-link .arrow {
    height: 36px;
    width: 36px;
    top: -5px;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.book-link .arrow::before,
.book-link .arrow::after {
    position: absolute;
    content: "";
    background-color: #f1e728;
    transition: all ease-in-out 0.35s;
    transform-origin: 0 0;
    border-radius: 30px;
}

.book-link .arrow::before {
    height: 2px;
    width: 100%;
    top: 0;
    right: 0;
}

.book-link .arrow::after {
    width: 2px;
    height: 100%;
    top: 0;
    right: 0;
}

.book-link:hover .arrow::before {
    width: 65%;
}

.book-link:hover .arrow::after {
    height: 65%;
}

.book-link .arrow span {
    background-color: #f1e728;
    height: 2px;
    width: 100%;
    display: inline-block;
    transform: rotate(-45deg) translate(-3px, -1px);
    transform-origin: right top;
    border-radius: 30px;
    position: relative;
    transition: all ease-in-out 0.35s;
    position: absolute;
    top: 0;
    left: 0;
}

.book-link .arrow span::before {
    background-color: #f1e728;
    content: "";
    height: 100%;
    width: 15px;
    left: -15px;
    top: 0;
    position: absolute;
}

.my-img {
    background-image: url(assets/IMG_6095-1-Photoroom.png);
    background-size: cover;
    height: 624px;
    width: 560px;
    position: relative;
    right: 10%;
    
}



main {
  overflow: hidden;
}
.main-grid {
    position: relative;
}

